html, body
{
	height: 100%;
}
  
body
{
	background-color: #222233;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.gras
{
	font-weight: bold;
}

.icon
{
	color: #A7A3AE;
	margin-top: 1%;
	position: absolute;
	top: 0;
	font-size: 40px;
	transition-duration: 0.7s;
}

.github
{
	left: 0;
	margin-left: 1%;
}

.github:hover
{
	color: #EEFFA8;
}

.help
{
	font-size: 20px;
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 1%;
	margin-right: 1%;
	color: #FFA8DE;
}
